<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Sorted List</title>
  <link href="main.css" rel="stylesheet">
</head>
<body>
  <div class="navbar navbar-inverse">
    <a class="navbar-brand" href="#">Currency Conversion Rates</a>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#/activity">Transaction History</a></li>
      <li><a href="#/currencyConversion">Currency Conversion</a></li>
      <li><a href="#/conversionRate">Conversion Rates</a></li>
    </ul>    
  </div>
  
  <div id="root"></div>
  <script src="bundle.js"></script>
</body>
</html>