.actionable {
  cursor: pointer;
}
.table-condensed > thead > tr > th.order-desc {
  padding-right: 12px;
}
.table-condensed > thead > tr > th.order-asc {
  padding-right: 12px;
}
.order-asc::after {
  content: '';
  width: 1px;
  height: 1px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid dimgrey;
  position: relative;
  top: 10px;
  left: 10px;
}
.order-desc::after {
  content: '';
  width: 1px;
  height: 1px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid dimgrey;
  position: relative;
  top: -10px;
  left: 10px;
}
